header{
    font-size:2.5em;
    color:rgb(29, 88, 52);
    height:50px;
    text-align: center;
    background-color: rgb(139, 138, 138);
}
body{
    background-color: #cccccc;
}

.introducao {
    text-align: center;
}
.introducao h2{
    font-size:1.75em;
    color:rgb(29, 88, 52);
    height:20px;
    padding-block-end:10px;
    text-align: center; 
}
.principal table{
    text-align: center;
    
}
td{
    padding-block-start: 0px;
    border: #000000 solid;
    text-align: center;
    
}
th{
    padding-block-start: 0px;
    border: #000000 solid;
    text-align: center;
}
.principal h2{
    font-size:1.25em;
    color:rgb(29, 88, 52);
    height:20px;
    padding-block-end:10px;
    
}
.lista h2{
    font-size:1.25em;
    color:rgb(29, 88, 52);
    height:20px;
    padding-block-end:10px;
}
.lista ul{
    padding-block-end: 10px;
    font-size:1.25em;
}